<!DOCTYPE html>
<html lang="en">
<head>
    {% block tittle %}<title>Lab5 - Смирнова Алиса</title>{% endblock %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>


</head>
<body>
     {% block body %}

    {% endblock %}
</body>
</html>
