{% extends "base.html" %}
{% block tittle %}<title>Lab5 - Смирнова Алиса - Identidock</title>{% endblock %}
{% block body %}
<div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle uk-height-viewport" style="background-color: #8EC5FC;
background-image: linear-gradient(181deg, #8EC5FC 0%, #E0C3FC 100%);">
<div class="uk-column-1-2@l uk-text-center" uk-grid>
<form id="form" method="POST" class="uk-card uk-flex uk-card-default uk-flex-center uk-flex-middle uk-card-body uk-flex-column">Hello
    <div class="uk-margin">
            <input id="nickname" class="uk-input" style="width: 90%" type="text" name="name" value="{{ name }}">
        </div>
    <div class="uk-margin">
          <button class="uk-button uk-button-default">Submit</button>
    </div>

</form>
    </div>
<p>You look like a:</p>
    <img id="avatar" src="/monster/{{ name_hash }}"/>
</div>
<script>
    const form = document.querySelector('#form');
    form.addEventListener('submit', (evt) => {
        evt.preventDefault();
        const data = new FormData(evt.target);
        fetch('/', {
            method: 'POST',
            body: data
        }).then(response => response.json())
        .then(res => {
            const { src } = res
            const avatar = document.querySelector('#avatar');
            avatar.src = src

        })
    })
</script>
{% endblock %}